doctype
html(lang="en")
  head
    != partial("_shared/head")
  body.markdown-body
    .container.container--articles(role="main")
      != yield
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js")
    script(type="text/javascript").
      hljs.initHighlightingOnLoad();
