li
  strong
    a(href="/") Оглавление
li
  a(href="/articles/web-service") Web Service
li
  a(href="/articles/java-se") Java SE
li
  a(href="/articles/spring") Spring
li
  a(href="/articles/git") Git
hr
li
  a(href="/articles/example") Example